Foxconn/Foxconn/Foxconn/Foxconn.Wcf.Client/Service References/FoxconnService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoxconnService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Foxconn.Bo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoxconnService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IFoxconnService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IFoxconnService_GetStudentByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByName" />
  </wsdl:message>
  <wsdl:message name="IFoxconnService_GetStudentByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFoxconnService_InsertStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="IFoxconnService_InsertStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoxconnService">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoxconnService/GetStudents" message="tns:IFoxconnService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoxconnService/GetStudentsResponse" message="tns:IFoxconnService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoxconnService/GetStudentByName" message="tns:IFoxconnService_GetStudentByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoxconnService/GetStudentByNameResponse" message="tns:IFoxconnService_GetStudentByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoxconnService/InsertStudent" message="tns:IFoxconnService_InsertStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoxconnService/InsertStudentResponse" message="tns:IFoxconnService_InsertStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoxconnService" type="tns:IFoxconnService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IFoxconnService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByName">
      <soap:operation soapAction="http://tempuri.org/IFoxconnService/GetStudentByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/IFoxconnService/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoxconnService">
    <wsdl:port name="BasicHttpBinding_IFoxconnService" binding="tns:BasicHttpBinding_IFoxconnService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Foxconn.Wcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>